@import "~materialize-css/dist/css/materialize.min.css";

.wraper-btn{
    display: flex;
    justify-content: space-around;
}


.wrap--list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    font-weight: 400;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.wrap--list-item span {
    width: 45%
}

.center {
    margin: 0 auto!important;
    float: none!important;
}
.login {
    margin-top: 50px;
}